* {
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
}

.map {
  width: 94%;
  height: 90vh;

}

.map-container {
  width: 100%;
  height: 90vh;
  border-radius: 5%;

}

.nav-bar {
  width: 100%;
  height: 9vh;
}

.controlers {
  width: 6%;
  flex-direction: column;
  padding-left: 18px;
  padding-top: 1%;
}

.route-map {
  border-radius: 10%;

}